table,
td,
th {
    margin: 50px;
    border: solid;
    border-collapse: collapse;
    padding: 10px;
}

img {
    width: 80px;
    height: 80px;
}

.artist,
.books,
.inner-table {
    width: 40%;
    margin: 40px;
    height: 40%;
}

img[src="Nolan.jpg"] {
    width: 200px;
    height: 200px;
    padding: 10px 160px 10px 160px;
}